button {
    all: unset;
    cursor: pointer;
    display: flex; /* all items arranged horizontally */
    flex-direction: row; /* x-axis */
    justify-content: start; 
    align-items: center; 
    border-radius: 100px;
    border: 1px solid black; 
    width: 300px;
    height: 150px;
    position: relative;
  } 
  
  button > img {
      position: absolute;
      height: 90%;
      width: auto;
      /* bottom: 5%;
      left: 0%; */
  }
  
  .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
  }
  .buttonOn > img {
      animation: pikaSlideR 1s;
      animation-fill-mode: forwards; 
  }
  
  
  .buttonOff > img {
      animation: pikaSlideL 1s;
      animation-fill-mode: forwards; 
  }
  
  .buttonOn {
    animation: example 1s;
    animation-fill-mode: forwards; /* prevent reset */
    justify-self: end;
  }
  
  .buttonOff {
    animation: exampleOff 1s;
    animation-fill-mode: forwards;
    justify-self: start
  }
  
  @keyframes pikaSlideR {
      from {
          left: 2.5%;
      }
      to {
          left: 52.5%;
      }
  }
  
  @keyframes pikaSlideL {
      from {
          left: 52.5%; 
      }
      to {
          left: 2.5%;
      }
  }
  
  @keyframes example {
    from {
       background-color: red;
    } 
    to {
        background-color: yellow;
    }
  }
  
    @keyframes exampleOff {
      from {
          background-color: yellow;
      } 
      to {
          background-color: red;
      }
    }