h1, h4 {
  margin-top: 0;
}

#App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

button {
  position: fixed;
  font-size: 50px;
  font-weight: bolder;
  mix-blend-mode: hard-light;
  /* background-color: transparent; */
  border-color: transparent;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
